.loginButton {
  background-color: #0d0c0c;
  color: #fff;
  border-radius: 12px;
  padding: 21px 32px;
  font-size: 18px;
  line-height: 1;
  height: 60px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
