$assets-path: '../../../shared/assets/images/';
$font-red-collar: var(--font-red-collar), sans-serif;
$font-tt-commons: var(--font-tt-commons), sans-serif;
$red-collor: #f51b1b;
$primary-color: #0d0c0c;
